<div class="project_container">
  <h3>Add a Project</h3>
  <ul class="add_project">
    <li>
      <form action="/project/new" method="post">
        <input type="text" name="add_project"><input type="submit" value="Add Project">
      </form>
    </li>
  </ul>
  <h3>My Project List</h3>
  <ul class="project_list">
    <% projects.each do |project| %>
      <li class="project">
        <a href="/project/<%= project[:project_id] %>/current"><%= project[:project_name] %></a>
      </li>
    <% end %>
  </ul>
</div>




