<!DOCTYPE>
<html>
<head>
  <title>Sinatra App with DB</title>
</head>
<body>
<h1>Awesome Item List</h1>
<form action="/" method="post">
  <input type="text" name="add_item">
  <input type="submit" value="Submit">
</form>

<ul>
  <% tasks.each do |task| %>
    <li><form action="/delete/<%= task[:id] %>" method="post"><input type=hidden name="_method" value="delete"><%= task[:task] %><input type="submit" value="Delete"></form></li>
  <% end %>
</ul>

</body>
</html>
