*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.project_container {
    width: 40%;
    padding: 1em;
    float: left;
}

.task_container {
    width: 60%;
    padding: 1em;
    float: left;
}

header {
    background-color: steelblue;
    padding: 1em;
    margin: 0;
}

nav {
    background-color: lightsteelblue;
    margin: 0;
}

nav ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    display: block;
}

nav a {
    display: block;
    float: left;
    padding: .5em;
    background-color: darkgrey;
}

@media all and (max-width: 900px) {
    html {
        font-size: 14px;
    }
}

@media all and (max-width: 700px) {
    html {
        font-size: 12px;
    }

    .project_container {
        width: 100%;
        float: none;
    }

    .task_container {
        width: 100%;
        float: none;
    }
}

/*@media all and (max-width: 500px){*/
/*html{*/
/*font-size:10px;*/
/*}*/
/*}*/

.task_list, .add_task, .add_project, .project_list {
    margin: 0;
    padding: 0;
    width: 100%
}

.add_project, .add_task, .add_task li {
    overflow: hidden;
}

.add_project li, .project_list {
    list-style: none;
    font-size: 1.2em;
    padding: 5px;
    margin: .3em 0;
}

/* responsive text boxes */
.add_project li form {
    width: 100%;
    overflow: hidden;
    padding-right: 6.5em;
    position: relative;
}

.add_project input[type="text"] {
    width: 100%;
    float: left;
}

.add_project input[type="submit"] {
    -webkit-appearance: text;
    margin: 0;
    border: 0;
    color: whitesmoke;
    background-color: darkblue;
    width: 6em;
    position: absolute;
    right: 0;
}

/* -------  */

.task_list li, .add_task li {
    list-style: none;
    width: 100%;
    padding: 5px;
    margin: .3em 0;
    border: 3px solid lightsteelblue;
    background-color: #ddeeff;
    font-size: 1.2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

li.completed {
    color: slategray;
    text-decoration: line-through;
}

.task_list li .task {
    width: 100%;
}

.add_task li form {
    width: 100%;
    overflow: hidden;
    padding-right: 5.5em;
    position: relative;
}

.add_task input[type="text"] {
    width: 100%;
    float: left;
}

.add_task input[type="submit"] {
    -webkit-appearance: text;
    background: none;
    margin: 0;
    border: 0;
    color: whitesmoke;
    background-color: darkblue;
    width: 5em;
    position: absolute;
    right: 0;
}

.task_list .buttons {
    float: right;
}

.task {
    margin-left: 2em;
}

.task_list input[type="submit"] {

    -webkit-appearance: text;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: red;
    width: 5em;
    float: right;
}

.task_list .checkmark input[type="submit"] {

    border: 3px solid darkslategray;
    color: lightgray;
    width: 1.2em;
    height: 1.2em;
    float: left;
    font-size: 1.2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: -2px;
}

.task_list li.completed .checkmark input[type="submit"] {

    color: darkblue;
    width: 1.2em;
    height: 1.2em;
    float: left;
    font-size: 1.2em;
    /*border:1px solid red*/
}

